## Hello everyone, today we are going to write some very fundamental code in python. Let's watch it out!

### What is set?

#### A set is a collection data type that is unordered and mutable but  unlike list and tuples it doesn't allow duplicate eliments.

In [1]:
myset = {1,2,3}

In [2]:
print(myset)

{1, 2, 3}

In [3]:
myset = {1,2,3,1,2}
print(myset)

{1, 2, 3}

#### We have seen above that set doesn't allow duplicate elements.

In [4]:
#we can also use set function

myset = set([1,2,3])

In [5]:
print(myset)

{1, 2, 3}

In [6]:
myset.add(1)
myset.add(2)
myset.add(3)

In [7]:
print(myset)

{1, 2, 3}

In [8]:
#we can remove element by using remove

myset.remove(3)

In [9]:
myset

{1, 2}

In [10]:
myset.add(1)
myset.add(2)
myset.add(3)

In [11]:
for i in myset:
    print(i)

1
2
3

In [12]:
if 1 in myset:
    print("yes")

yes

### Let's  try out UNION and intersection

In [13]:
odds = {1,3,5,7,9}
evens = {0,2,4,6,8}
primes = {2,3,5,7}

In [14]:
union = odds.union(evens)
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
intersection = odds.intersection(evens)

In [20]:
intersection

set()

In [21]:
intersection = odds.intersection(primes)

In [22]:
intersection

{3, 5, 7}

In [23]:
intersection = evens.intersection(primes)

In [24]:
intersection

{2}

### We can also calculate the difference of two sets. Let's create two sets-

In [25]:
setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

#### The difference will return a set with all elements from the first set that are not in the second set.

In [26]:
dif = setA.difference(setB)
print(dif)

{4, 5, 6, 7, 8, 9}

In [27]:
dif = setB.difference(setA)
print(dif)

{10, 11, 12}

#### There is another method which is symetric difference which will return all the elements from both set. Let's have a look-

In [29]:
dif = setA.symmetric_difference(setB)
print(dif)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [30]:
dif = setB.symmetric_difference(setA)
print(dif)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

### We can modify our set. Let's have a look-

In [31]:
setA.update(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

#### without duplication all the elements have there. Interesting!

In [33]:
## There's also an intersection update method!
setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}
setA.intersection_update(setB)
print(setA)

{1, 2, 3}

In [34]:
## There's also difference update method

setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}
setA.difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9}

In [36]:
## There's also symmetric_difference update method

setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}
setA.symmetric_difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

### We can check whether two sets are subset or not!

In [37]:
setc = {1,2,3,4,5,6}
setd = {1,2,3}

In [38]:
print(setc.issubset(setd))

False

In [39]:
#subset means all the elements of set are available in the second set. 

print(setd.issubset(setc))

True

### We also can check superset!

In [40]:
setc = {1,2,3,4,5,6}
setd = {1,2,3}

In [41]:
print(setc.issuperset(setd))

True

In [42]:
## A superset returns True if the first set contains all the numbers or all the elements from the second set. 

print(setd.issuperset(setc))

## output will provide falst because set d doesnt contain 4,5,6

False

### Now we are going to check disjoint between two sets. Disjoint returns true if there is no common between two sets i mean null. Let's have a look-

In [43]:
setc = {1,2,3,4,5,6}
setd = {1,2,3}
sete = {7,8}

In [45]:
print(setc.isdisjoint(sete))

True

In [46]:
print(setc.isdisjoint(setd))

False