# Hello everybody, today i will try to dig out what is the Mystery of "Tuples"!

##  * Tuple  is a collection data types which is ordered and immutable. It is similar to list but the main difference is tuples can not be changed after creation.

### Let's try to write something.

In [1]:
mytuple = ("Max", 28, "Boston")
print(mytuple)

('Max', 28, 'Boston')

In [2]:
mytuple = "Max", 28, "Boston"
print(mytuple)

('Max', 28, 'Boston')

#### In tuple you can't include only one item in it. You have to include multiple items. Otherwise it can't detect as it tuple rather it will detect as a string. Let's check it out-

In [3]:
mytuple = "Max"
print(mytuple)

Max

In [4]:
print(type(mytuple))

<class 'str'>

In [5]:
mytuple = "Max", 28, "Boston"
print(mytuple[0])

Max

In [6]:
print(mytuple[1])

28

In [7]:
for i in mytuple:
    print(i)

Max
28
Boston

In [9]:
if "Max" in mytuple:
    print("yes")
else:
    print("no")

yes

In [10]:
if "Saif" in mytuple:
    print("yes")
else:
    print("no")

no

In [11]:
my_tuple = ('a','p','p','l','e')

In [12]:
print(len(my_tuple))

5

In [13]:
print(my_tuple.count("p"))

2

In [14]:
print(my_tuple.count("a"))

1

In [15]:
print(my_tuple.count("s"))

0

In [16]:
print(my_tuple.index("p"))

1

In [17]:
print(my_tuple.index("e"))

4

### Slicing in Tuples

In [18]:
a = (1,2,3,4,5,6,7,8,9,10)

In [19]:
b = a[2:5]

In [20]:
print(b)

(3, 4, 5)

### If we don't specify the start index then it starts with the begining.

In [21]:
b = a[:7]

In [22]:
print(b)

(1, 2, 3, 4, 5, 6, 7)

In [23]:
b = a[1:]

In [24]:
print(b)

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [25]:
b = a[::2]
print(b)

(1, 3, 5, 7, 9)

### We also can reverse the tuple

In [26]:
b = a[::-1]
print(b)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

### Let's see an example of unpacking!

In [27]:
tuple = "Saif", 26, "Bagerhat"
name, age, city = tuple
print(name, age, city)

Saif 26 Bagerhat

### We can unpack multiple elements by using star sign . Let's see it

In [28]:
tuple = (0,1,2,3,4)

In [29]:
i1, *i2, i3 = tuple

In [30]:
i1

0

In [31]:
i3

4

In [32]:
i2

[1, 2, 3]

### Tuple is much more efficient than list. let's check it out

In [34]:
import sys
mylist = [0,1,2,"Hello", True]
mytuple =( 0,1,2,"Hello", True)
print(sys.getsizeof(mylist), 'bytes')
print(sys.getsizeof(mytuple), 'bytes')

96 bytes
80 bytes

#### List has taken larger bytes evenif those have the same elements.